*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div{
  width: 100%;
  height: 100vh;
  background-color: purple;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid black;
}
h1{
  font-size: 8vh;
  font-weight: 400;
  color: white;
}
input{
  width: 60%;
  margin: 20px auto;
  padding: 10px 15px;
  text-align: center;
  font-size: 18px;
}
button{
  padding: 5px 10px;
  text-align: center;
  background-color: rgba(128, 0, 128, 0.264);
  color: white;
  border: 2px solid white;
  cursor: pointer;
}